name: GioOps semantic validation

on:
  pull_request:

jobs:
  invoke-kagent:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      #- name: Generate Manifests
      #  run: |
      #    git config user.name "github-actions[bot]"
      #    git config user.email "github-actions[bot]@users.noreply.github.com"
      #    git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git
      #    git fetch origin ${{ github.head_ref }} 
      #    git checkout -B ${{ github.head_ref }} origin/${{ github.head_ref }}
      #    cd demo-cluster
      #    make || exit 1
      #    cd ..
      #    git add ./demo-cluster/.k8s-gen/
      #    if ! git diff --cached --quiet; then
      #      git commit -m "chore: auto-update manifests [ci skip]"
      #      git push origin ${{ github.head_ref }} -o ci.skip
      #    else
      #      echo "No changes to commit."
      #    fi

      - name: Install KAgent
        run: |
          export DESIRED_VERSION=v0.4.5
          curl -fsSL https://raw.githubusercontent.com/kagent-dev/kagent/v0.4.5/scripts/get-kagent | bash

      - name: Invoke KAgent
        id: kagent
        run: |
          PR_ID="${{ github.event.pull_request.number }}"
          FILE_PATH="./demo-cluster/.k8s-gen/app-manifests.yaml"
          
          sed -i "1i PR ID: ${PR_ID}. Input manifest start here:" "${FILE_PATH}"
          kagent --api-url "https://demo-smart-idp.uk/api" invoke --agent gitops-kyverno-short-agent --file  ${FILE_PATH} | jq -r '.'
